<div class="container">
    <div class="row">
        <h1 class="text-center">Challenges</h1>
        <div class="col-md-3">
            <div class="well">
                <h3 class="text-center challenge-title">Challenge 1</h3>
                <%= link_to "JS Drum Kit", 'challenges/1', class: "btn btn-default btn-lg btn-block" %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h3 class="text-center challenge-title">Challenge 2</h3>
                <%= link_to "CSS + JS Clock", 'challenges/2', class: "btn btn-default btn-lg btn-block" %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h3 class="text-center challenge-title">Challenge 3</h3>
                <%= link_to "CSS Variables and JS", 'challenges/3', class: "btn btn-default btn-lg btn-block" %>
            </div>
        </div>
    </div>
</div>